
section:not(.current) iframe {
  display: none;
}

.editorFrame {
  width: 100%;
  height: 80vh;
}

iframe:not(.editorFrame) {
  margin: 20px auto;
}

section.slide > h2 + *:not([id]) {
  margin-top: 50px;
}

ul:not(:first-child) {
  margin-top: 50px;
}

ul:not(:last-child) {
  margin-bottom: 50px;
}

li > ul:not(:first-child) {
  margin-top: 0;
}

ul>li {
  line-height: 1.6;
}
