
section:not(.current) iframe {
  display: none;
}

.editorFrame {
  width: 100%;
  height: 80vh;
}

iframe:not(.editorFrame) {
  margin: 20px auto;
}

section.slide > h2 + *:not([id]) {
  margin-top: 50px;
}

ul:not(:first-child) {
  margin-top: 50px;
}

ul:not(:last-child) {
  margin-bottom: 50px;
}

li > ul:not(:first-child) {
  margin-top: 0;
}

ul>li {
  line-height: 1.6;
}

blockquote {
  margin-top: 50px;
}

blockquote p {
  font-size: 3.8rem;
  line-height: 5rem;
  font-style: italic;
}

img.figma_fig {
  zoom: 0.5;
}
